<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      th:with="path=|${#request.contextPath}/page/white/2214086D382FE0823550CAD6B19EA205|">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/static/layui-v2.9.9/css/layui.css}">
    <style>
        body {
            margin: 0;
            padding: 0;
            /*设置的边框和内边距的值是包含在 width 内的*/
            box-sizing: border-box;
        }

        #admin {
            padding: 50px 0 0 50px;
        }

        .table-container {
            max-width: 900px;
            min-width: 660px;
        }

        table {
            /* 表格的边框是分开的还是合并 collapse separate */
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #dddddd;
            max-width: 300px;
            white-space: nowrap; /* 设置内容抵达容器边界会不会转到下一行 */
            overflow-x: auto; /* 溢出内容显示滚动条 */
            /*
            overflow: hidden; !* 隐藏溢出内容 *!
            text-overflow: ellipsis; !* 溢出内容显示省略号 *!
            */
        }

        td {
            padding: 3px 8px;
        }

        th {
            padding: 8px;
        }

        .secret-th {
            display: flex;
            /*将子元素之间的空间分配得尽可能均匀，第一个子元素和最后一个子元素靠近容器的两端*/
            justify-content: space-between;
            align-items: center;
        }

        .secret-th-key {
            margin: 0 auto;
        }

        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<!-- 提示 -->
<div th:if="${msg!=null}">
    <script>
        window.onload = () => {
            layer.msg("[[${msg}]]", {time: 700});
        }
    </script>
</div>
<!-- 页面 -->
<div id="admin">
    <h1>
        接口剩余访问次数：<span th:text="${application.apiTimes}" th:if="${application.apiTimes}"></span>
    </h1>
    <a th:href="${path}+'/getAllList'">
        <button type="button" class="layui-btn layui-btn-primary">刷新列表</button>
    </a>
    <br>
    <br>
    <h1>IP白名单</h1>
    <br>
    <div class="table-container">
        <table class="ip-table">
            <tr>
                <th>IP</th>
                <th>归属地</th>
                <th>备注</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            <tr th:each="whiteIP:${whitelist}" th:if="whitelist!=null">
                <td th:text="${whiteIP.ipAddress}"></td>
                <td th:text="${whiteIP.city}"></td>
                <td th:text="${whiteIP.description}"></td>
                <td th:text="${whiteIP.createdAt}"></td>
                <td>
                    <button type="button"
                            th:onclick="updateDesc('[[${whiteIP}]]')"
                            class="layui-btn layui-btn-normal layui-btn-sm">
                        修改备注
                    </button>
                    <button type="button"
                            th:onclick="deleteIP('[[${whiteIP.id}]]')"
                            class="layui-btn layui-btn-danger layui-btn-sm">
                        删除
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <button type="button" onclick="addIP()" class="layui-btn">添加IP</button>
    <br>
    <br>
    <h1>标识表</h1>
    <br>
    <div class="table-container">
        <table class="identifier-table">
            <tr>
                <th>key</th>
                <th>
                    <div class="secret-th">
                        <span class="secret-th-key">value</span>
                        <span class="secret-th-icon">
                            <i class="layui-icon layui-icon-eye-invisible" onclick="toggleTableSecrets(this,false)"></i>
                            <i class="layui-icon layui-icon-eye" onclick="toggleTableSecrets(this,true)"></i>
                        </span>
                    </div>
                </th>
                <th>描述</th>
                <th>操作</th>
            </tr>
            <tr th:each="identifier:${identifierList}" th:if="identifierList!=null">
                <td style="width: 20%;">
                    <div class="secret-th">
                        <span class="secret-th-key" th:text="${identifier.key}"></span>
                        <span class="secret-th-icon"
                              onclick="toggleRowSecret(this)">
                            <i class="layui-icon layui-icon-eye-invisible hidden"></i>
                            <i class="layui-icon layui-icon-eye"></i>
                        </span>
                    </div>
                </td>
                <td th:secret-data="${identifier.value}">*****</td>
                <td style="width: 25%;" th:text="${identifier.description}"></td>
                <td style="width: 10%;">
                    <button type="button" class="layui-btn layui-btn-normal layui-btn-sm"
                            th:onclick="updateIdentifierValue('[[${identifier}]]')">
                        修改
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <button type="button" class="layui-btn layui-btn-warm" onclick="refreshToken()">手动刷新 Token</button>
    <br>
    <br>
    <h1>辩证云面板IP白名单</h1>
    <br>
    <table>
        <tr>
            <th>IP</th>
            <th>操作</th>
        </tr>
        <tr th:each="ip:${boardWhiteList}" th:if="ip!=null">
            <td th:text="${ip}"></td>
            <td>
                <button type="button" th:onclick="delBoardIP([[${ip}]])"
                        class="layui-btn layui-btn-danger layui-btn-sm">
                    删除
                </button>
            </td>
        </tr>
    </table>
    <br>
    <br>
</div>
<script th:src="@{/static/layui-v2.9.9/layui.js}"></script>
<script th:src="@{/static/lodash-4.17.21.min.js}"></script>
<script th:src="@{/static/axios-1.6.8.min.js}"></script>

<!-- 用来放置 thymeleaf 的数据 -->
<script>
    const basePath = '[[${path}]]'
</script>

<script th:inline="none">
    console.log(basePath)

    // layui.use(() => {
    // layer 似乎默认引用了
    const layer = layui.layer
    const table = layui.table
    // });

    const addIP = () => {
        layer.open({
            type: 1,
            area: ['420px', ''], //宽高
            offset: '100px',
            title: "请输入添加的IP",
            content: `
                <form style="padding: 20px;">
                    <label>
                        IP <input type="text" name="ip" maxlength="15" class="layui-input">
                    </label>
                    <br>
                    <label>
                        备注 <input type="text" name="description" maxlength="200" class="layui-input">
                    </label>
                    <br>
                    <div style="text-align: right">
                        <button type="button" onclick="checkIP(ip.value,description.value)"
                            class="layui-btn  layui-btn-primary layui-border-blue">
                                添加
                        </button>
                        <button type="reset"
                            class="layui-btn  layui-btn-primary layui-border-blue">
                                重置
                        </button>
                    </div>
                </form>`
        });
    }

    const checkIP = _.throttle((ip, description) => {
        const ipRegex = /^(?:(?:1\d{2}|2[0-4]\d|25[0-5]|\d\d?)\.){3}(?:1\d{2}|2[0-4]\d|25[0-5]|\d\d?)$/;
        if (ipRegex.test(ip)) {
            if (description != null && description !== "" && description !== undefined) {
                layer.msg('加载中', {icon: 16, shade: 0.01});
                window.location.replace(`${basePath}/addIP?ip=` + ip + "&description=" + description);
            } else {
                layer.msg('备注不能为空', {icon: 2});
            }
        } else {
            layer.msg('IP地址格式错误', {icon: 2});
        }
    }, 3000)

    const updateDesc = (whiteIP) => {
        whiteIP = JSON.parse(whiteIP);
        console.log(whiteIP)
        layer.prompt({
            title: `IP: [ ${whiteIP.ipAddress} ], 请输入备注`,
            formType: 0
        }, function (value, index, elem) {
            layer.close(index); // 关闭层
            console.log(elem);
            const loadIndex = layer.msg('加载中', {icon: 16, shade: 0.01});
            axios.get(`${basePath}/updateDesc?id=` + whiteIP.id + "&description=" + value)
                .then(res => {
                    console.log(res);
                    window.location.reload();
                })
                .catch(err => {
                    console.error(err);
                });
            layer.close(loadIndex)
        });
    }

    const deleteIP = (id) => {
        layer.confirm('确定要删除吗？', {
            btn: ['确认', '取消'], //按钮
            offset: '100px'
        }, function () {
            layer.msg('加载中', {icon: 16, shade: 0.01});
            window.location.replace(`${basePath}/deleteIP?id=` + id);
        }, function () {
            layer.msg('正确的选择', {icon: 6, time: 1000});
        });
    }

    const updateIdentifierValue = (identifier) => {
        identifier = JSON.parse(identifier);
        const key = identifier.key;
        const old_value = identifier.value;
        console.log(key, old_value)
        layer.prompt({
            title: `key: [ ${key} ], 请输入 Value`,
            formType: 0,
            value: `${old_value}`
        }, function (value, index, elem) {
            layer.close(index); // 关闭层
            console.log(elem);
            const loadIndex = layer.msg('加载中', {icon: 16, shade: 0.01});
            axios.get(`${basePath}/updateValue?key=` + key + "&value=" + value)
                .then(res => {
                    console.log(res);
                    window.location.reload();
                })
                .catch(err => {
                    console.error(err);
                });
            layer.close(loadIndex)
        });
    }

    // 将element中的所有secret数据显示或隐藏，并且找到对应的按钮进行切换
    const toggleSecrets = (element, show) => {
        const secrets = element.querySelectorAll('[secret-data]');
        secrets.forEach(secret => {
            const tr = secret.closest('tr');
            const eye = tr.querySelector('.layui-icon-eye');
            const eyeInvisible = tr.querySelector('.layui-icon-eye-invisible');
            if (show) {
                secret.innerText = secret.getAttribute('secret-data');
                eye.classList.add('hidden');
                eyeInvisible.classList.remove('hidden');
            } else {
                secret.innerText = '*****';
                eye.classList.remove('hidden');
                eyeInvisible.classList.add('hidden');
            }
        });
    };

    const toggleTableSecrets = (iconDom, show) => {
        const table = iconDom.closest('table');
        toggleSecrets(table, show);
    };

    const toggleRowSecret = (iconDom) => {
        const tr = iconDom.closest('tr');
        // 显示按钮处于隐藏状态，表示当前是隐藏状态，点击后应该显示
        const isHidden = iconDom.querySelector('.layui-icon-eye').classList.contains('hidden');
        toggleSecrets(tr, !isHidden);
    };

    // 刷新 Token
    const refreshToken = () => {
        layer.msg('加载中', {icon: 16, shade: 0.01});
        window.location.replace(`${basePath}/refreshToken`);
    }

    const delBoardIP = (ip) => {
        console.log("删除ip", ip)
        layer.confirm(`此操作将永久删除ip地址：${ip}, 是否继续?`, {
            icon: 0,
            btn: ['确认', '取消'], //按钮
            offset: '100px'
        }, function () {
            layer.msg('加载中', {icon: 16, shade: 0.01});
            window.location.replace(`${basePath}/delBoardIP?ip=${ip}`);
        }, function () {
            layer.msg('已取消');
        });
    }
</script>
</body>
</html>
